<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://linuxserver.jingjiajie.com:3306</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <mapping class="com.wms.utilities.model.SafetyStock"/>
      <mapping class="com.wms.utilities.model.TransferOrderItem"/>
      <mapping class="com.wms.utilities.model.SafetyStockView"/>
      <mapping class="com.wms.utilities.model.TransferOrderItemView"/>
      <mapping class="com.wms.utilities.model.StockRecord"/>
      <mapping resource="com/wms/utilities/model/StockRecord.hbm.xml"/>
      <mapping class="com.wms.utilities.model.StockRecordView"/>
      <mapping resource="com/wms/utilities/model/StockRecordView.hbm.xml"/>
      <mapping resource="com/wms/utilities/model/SafetyStock.hbm.xml"/>
      <mapping resource="com/wms/utilities/model/SafetyStockView.hbm.xml"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>