<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url"><![CDATA[jdbc:mysql://linuxserver.jingjiajie.com:3306]]></property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <property name="hbm2ddl.auto">update</property>
      <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

      <mapping class="com.wms.services.warehouse.model.Material"/>
    <mapping class="com.wms.services.ledger.model.Person"/>
    <mapping class="com.wms.services.warehouse.model.Supplier"/>
    <mapping class="com.wms.services.warehouse.model.Supply"/>
    <mapping class="com.wms.services.warehouse.model.Warehouse"/>
      <mapping class="com.wms.services.warehouse.model.StorageArea"/>
      <mapping resource="com/wms/services/warehouse/model/StorageAreaEntity.hbm.xml"/>
      <mapping class="com.wms.services.warehouse.model.StorageLocation"/>
      <mapping resource="com/wms/services/warehouse/model/StorageLocationEntity.hbm.xml"/>
      <mapping class="com.wms.services.warehouse.model.StorageAreaViewEntity"/>
      <mapping resource="com/wms/services/warehouse/model/StorageAreaViewEntity.hbm.xml"/>
      <mapping class="com.wms.services.warehouse.model.StorageLocationViewEntity"/>
      <mapping resource="com/wms/services/warehouse/model/StorageLocationViewEntity.hbm.xml"/>
      <mapping resource="com/wms/services/warehouse/model/SupplierEntity.hbm.xml"/>
      <mapping class="com.wms.services.warehouse.model.Supplier"/>

  </session-factory>
</hibernate-configuration>