<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://linuxserver.jingjiajie.com:3306/WMS_Template</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hbm2ddl.auto">update</property>
    <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

    <mapping class="com.wms.services.warehouse.model.AccountTitle"/>
    <mapping class="com.wms.services.ledger.model.Person"/>
    <mapping class="com.wms.services.warehouse.model.Tax"/>
    <mapping class="com.wms.services.warehouse.model.TaxItem"/>
    <mapping resource="model/Tax.hbm.xml"/>
    <mapping class="model.Tax"/>
    <mapping class="model.TaxItem"/>
    <mapping resource="model/TaxItem.hbm.xml"/>
    <mapping class="com.wms.services.ledger.model.Tax"/>
    <mapping resource="com/wms/services/ledger/model/Tax.hbm.xml"/>
    <mapping resource="com/wms/services/ledger/model/TaxItem.hbm.xml"/>
    <mapping class="com.wms.services.ledger.model.TaxItem"/>


  </session-factory>
</hibernate-configuration>